Repository opensearch-project/opensearch-java, pull requests merged in 2023-06, with the labels that each got.

#512 Bump client to 2.6.0
  CHANGELOG.md
  COMPATIBILITY.md
  gradle.properties
Labels: skip-changelog

#513 Post 2.5.0 release update for changelog and compatibility
  CHANGELOG.md
  COMPATIBILITY.md
Labels: skip-changelog

#516 fix: add several missing fields in MultisearchBody.Builder (#506)
  CHANGELOG.md
  java-client/src/main/java/org/opensearch/client/opensearch/core/msearch/MultisearchBody.java
  java-client/src/test/java/org/opensearch/client/opensearch/integTest/AbstractMultiSearchRequestIT.java
Labels: backport 2.x

#537 Bumps 'jackson' from 2.14.2 to 2.15.2
  CHANGELOG.md
  java-client/build.gradle.kts
Labels: dependencies
